# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
1.Servlets&JSP/1.Servlets&JSP.iml
1.Servlets&JSP/src/main/resources/
1.Servlets&JSP/target/
11.01.SQLCmd_EE_Eugene_Zadoyanyy/11.01.SQLCmd_EE_Eugene_Zadoyanyy.iml
11.01.SQLCmd_EE_Eugene_Zadoyanyy/target/
2.Spring_IoC/2.Spring_IoC.iml
2.Spring_IoC/target/
3.Spring_CodeReview/3.Spring_CodeReview.iml
3.Spring_CodeReview/target/
4.Spring_bean_testing-mocking.Web_layer_integration_testing/4.Spring_bean_testing-mocking.Web_layer_integration_testing.iml
4.Spring_bean_testing-mocking.Web_layer_integration_testing/target/
5.Replacing_if_with_polymorphism_in_MainServletMainServlet/5.Replacing_if_with_polymorphism_in_MainServletMainServlet.iml
5.Replacing_if_with_polymorphism_in_MainServletMainServlet/src/src.iml
5.Replacing_if_with_polymorphism_in_MainServletMainServlet/target/
6.SpringMVC/6.SpringMVC.iml
6.SpringMVC/target/
7.2.Spring_JDBC_Template_&_Spring_Data/7.2.Spring_JDBC_Template_&_Spring_Data.iml
7.2.Spring_JDBC_Template_&_Spring_Data/target/
7.Spring_JDBC_Template_&_Spring_Data/7.Spring_JDBC_Template_&_Spring_Data.iml
7.Spring_JDBC_Template_&_Spring_Data/target/
8.Hibernate_deeper_EntityManager_Session_Transactions/8.Hibernate_deeper_EntityManager_Session_Transactions.iml
8.Hibernate_deeper_EntityManager_Session_Transactions/target/
9.1.copy_some_feachers_hibernate_code_review/9.1.copy_some_feachers_hibernate_code_review.iml
9.1.copy_some_feachers_hibernate_code_review/target/
9.2.Rest_menu/9.2.Rest_menu.iml
9.2.Rest_menu/target/
9.3.SinglePageApplication(SPA)Ajax&Rest/9.3.SinglePageApplication(SPA)Ajax&Rest.iml
9.3.SinglePageApplication(SPA)Ajax&Rest/target/
9.4.MongoDB/9.4.MongoDB.iml
9.4.MongoDB/target/
SQLCmdWebSezh.iml
